
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	width: 100%;
	height: 100%;
	background: #101112;
	-webkit-font-smoothing: antialiased;
}

header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 10px;
	width: 100%;
	background: #000000;
	position: fixed;
}

.logo {
	display: flex;
	align-items: center;
	justify-content: center;
}

h4 {
	font-family: 'Quicksand';
	font-size: 21px;
	font-weight: 500;
	color: #f0f0f0;
}

.head {
	display: grid;
	gap: 20px;
	background: repeating-linear-gradient(45deg, #000000, #141414 100px);
}

.lang {
	background: #ffffff;
    font-family: sans-serif;
    color: #000000;
    border: 1px solid #f0f0f0;
    border-radius: 5px;
    padding: 5px;
}

h1 {
	font-size: 32px;
    font-family: 'Inter';
    color: #ffffff;
    line-height: 1.6;
    letter-spacing: 1.5px;
}

.title {
	text-align: center;
}

.top-content {
	display: grid;
	gap: 15px;
	margin-top: 80px;
}

.buttons {
	display: grid;
	gap: 15px;
	align-items: center;
	justify-content: space-between;
	padding: 0 10%;
	margin-top: 25px;
}


.social-button {
	border: 1.5px solid #000;
    background: linear-gradient(267.98deg, #00FF11 0.74%, #51FF00 99.26%);
    font-family: 'Orbitron', sans-serif;
    font-weight: 800;
    font-size: 20px;
    box-shadow: 0px 0px 19.1px 0px #00FF11CC;
    text-decoration: underline;
    padding: 10px;
    border-radius: 15px;
    width: 100%;
}

.separator {
	height: 20px;
    box-shadow: 0px 0px 35px 20px #000000;
    background: #000000;
    width: 100%;
}

.map {
	display: flex;
	align-items: center;
	justify-content: center;
}

h2 {
	font-family: 'Inter';
	font-size: 25px;
	line-height: 1.6;
	color: #f0f0f0;
}

.swap {
	display: grid;
	gap: 10px;
	background: #19191a;
	width: 85vw;
	padding: 5px;
	border-radius: 10px;
	max-width: 400px;
}

.swap-element {
	display: grid;
	background: #121213;
	border-radius: 5px;
	padding: 10px;
}

.swap-p {
	font-family: 'Inter';
	font-size: 15px;
	color: #8d8d8d;
	font-weight: 500;
}

.ticker {
	display: flex;
    gap: 10px;
    padding: 10px;
    border-radius: 20px;
    justify-content: space-between;
}

h3 {
	font-family: 'Inter';
	font-size: 18px;
	color: #ffffff;
	font-weight: 600;
}

input {
	height: -webkit-fill-available;
    width: 100%;
    background: transparent;
    border: 0;
    font-size: 21px;
    color: #fff;
    font-weight: 600;
    text-align: right;
}

input:focus {
	outline: none;
}

.swap-btn {
	border: 0;
    background: #0098e9;
    border-radius: 10px;
    padding: 10px;
    color: #ffffff;
    font-family: 'Inter';
    font-size: 20px;
    font-weight: 500;
    width: -webkit-fill-available;
}





















